body {
    height: 100vh;
    background: linear-gradient(#dcdbd3, #d3dcdc);
    font-family: 'Urbanist', sans-serif;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 0;
}

#green-underlay {
    background-color: #009688;
    width: 100%;
    height: 13.25%;
    position: relative;
}

.window {
    width: 82.5%;
    height: 96%;
    box-shadow: 0 0 5px gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    background-color: #ededed;
}

.navbar {
    background-color: #e5e5e5;
    /*     !!!!! */
    padding: 0;
    height: 59px;
    /*     !!!!! */
}

i {
    color: gray;
}

.chat {
    padding-right: 0;
    position: relative;
    max-height: 100%;
}

.default-window {
    border-top: 1px solid transparent;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f8f9fa;
}

.default-window .img {
    margin-top: 15%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('../images/668.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px gray;
}

.default-window h1 {
    font-weight: 200;
    color: #525252;
}

.default-window .info {
    width: 60%;
    color: #9a9a9a;
    font-size: 1.1rem;
    font-weight: 200;
}

.default-window .bottom-line {
    height: .75%;
    width: 100%;
    background-color: #4adf83;
    position: absolute;
    bottom: 0;
}

.message-container {
    direction: ltr;
    height: 100%;
    width: 100%;
}

.contacts {
    border-left: 1px solid rgb(216, 216, 216);
    padding-left: 0;
}

.contact-render {
    height: 45px;
    font-size: 1rem;
}

.contact-render .last-seen {
    color: #9a9a9a;
    font-size: 0.95rem;
}

.profilepicture {
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.chatmain {
    background-color: #e5ddd5;
    background-image: url('/images/icon-pattern-chat.svg');
    background-size: contain;
    background-repeat: repeat;
    /*     background-position: center; */
    height: calc(100% - 56px - 64.24px);
    display: flex;
    overflow-y: auto;
    direction: rtl;
}

.chat-container {
    height: 100%;
    width: 100%;
}

/* ------------------------------- */

.searchBar {
    width: 95%;
    display: flex;
    /*     flex-direction: row; */
    /*     align-items: center; */
}

.searchInput {
    width: 100%;
    height: 2.4rem;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

.searchButton {
    width: 3.5rem;
    height: 2.4rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

.visible {
    /*     visibility: visible;
    opacity: 1;
    max-height: 100%; */
    display: block;
}

.hidden {
    /*     visibility: hidden;
    opacity: 0;
    max-height: 0; */
    display: none;
}

/* --------------------- Profile Menu */

.profile-menu {
    height: 100%;
    transition: all .3s ease;
    position: absolute;
}

.profile-menu .text-box {
    border: none;
    border-bottom: 2px solid #00bfa5;
    width: 100%;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.profile-menu-heading {
    background-color: #00bfa5;
    height: calc(126.67px - 19.125px);
    width: 100%;
}

.profile-menu-heading i {
    margin-bottom: 1em;
    cursor: pointer;
}

.profile-menu-heading h4 {
    margin-bottom: 0.65em;
    font-weight: 400;
}

.profile-menu-picture-div {
    height: 27.5%;
}

.profile-menu-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-menu-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu-name {
    background-color: #ffffff;
    height: 10%;
}

.profile-menu-name .name {
    font-size: 1.1rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.profile-menu-info {
    color: #9a9a9a;
    font-size: 1.1rem;
    font-weight: 100;
}

.profile-menu-about {
    background-color: #ffffff;
    height: 10%;
}

.profile-menu-about .about {
    font-size: 1.1rem;
}

.profile-info-heading {
    color: #04988a;
    font-size: 1.05rem;
}

.profile-menu-id {
    background-color: #ffffff;
    height: 10%;
}

/* ---------------------- */

/* ---------------------- Group Menu*/

.group-menu {
    height: 100%;
    transition: all .3s ease;
    background-color: #ffffff;
}

.group-menu-heading {
    background-color: #00bfa5;
    height: calc(126.67px - 19.125px);
    width: 100%;
}

.group-menu-heading i {
    margin-bottom: 1em;
    cursor: pointer;
}

.group-menu-heading h4 {
    margin-bottom: 0.65em;
    font-weight: 400;
}

.group-menu-search input {
    border: none;
    outline: none;
    padding: 0;
    border-bottom: 1px solid #ededed;
}

.group-menu-search input::placeholder {
    color: #9a9a9a;
}

/* ---------------------- */

/* ----------------------  New Chat Menu*/

.chat-menu {
    height: 100%;
    transition: all .3s ease;
    background-color: #ffffff;
}

.chat-menu-heading {
    background-color: #00bfa5;
    height: calc(126.67px - 19.125px);
    width: 100%;
}

.chat-menu-heading i {
    margin-bottom: 1em;
    cursor: pointer;
}

.chat-menu-heading h4 {
    margin-bottom: 0.65em;
    font-weight: 400;
}

.chat-menu-search {
    background-color: #ededed;
    height: calc(38.4px + 16px);
}

.chat-menu-add {
    height: 7.5%;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.chat-menu-add:hover {
    background-color: #e5e5e5;
}

.chat-menu-group {
    height: 7.5%;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.chat-menu-group:hover {
    background-color: #e5e5e5;
}

.chat-menu-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #009688;
}

.new-group-span {
    font-size: 1.15rem;
}

/* ---------------------- */

/* ----------------------  Starred Menu*/

.starred-menu {
    height: 100%;
    transition: all .3s ease;
    background-color: #ededed;
}

.starred-menu-heading {
    background-color: #00bfa5;
    height: calc(126.67px - 19.125px);
    width: 100%;
}

.starred-menu-heading i {
    margin-bottom: 1em;
    cursor: pointer;
}

.starred-menu-heading h4 {
    margin-bottom: 0.65em;
    font-weight: 400;
}

.starred-messages-span {
    color: #9a9a9a;
    font-weight: 100;
}

.starred-info {
    height: calc(100% - 107.54px);
}

/* ---------------------- */

/* ----------------------  Add Menu*/

.add-menu {
    height: 100%;
    transition: all .3s ease;
    background-color: #ededed;
}

.add-menu-heading {
    background-color: #00bfa5;
    height: calc(126.67px - 19.125px);
    width: 100%;
}

.add-menu-heading i {
    margin-bottom: 1em;
    cursor: pointer;
}

.add-menu-heading h4 {
    margin-bottom: 0.65em;
    font-weight: 400;
}

.add-menu-search {
    background-color: #ededed;
    height: calc(38.4px + 16px);
}

.user {
    height: 72px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.user:hover {
    background-color: #e5e5e5;
}

.user .about {
    color: #9a9a9a;
    font-weight: 400;
    font-size: 1rem;
}

.user .last-msg-time {
    color: #9a9a9a;
    font-weight: 400;
    font-size: 0.85rem;
    text-align: end;
}

.user .chat-notification {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #06d755;
    align-items: center;
    justify-content: center;
    display: flex;
}

.user .chat-notification .msg-count {
    color: #ffffff;
    font-weight: 900;
    font-size: 0.75rem;
}

.user-profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------------------- */

.dropdown-menu {
    box-shadow: 0 0 5px gray;
    border: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b9b4ae;
}

.msg-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #9a9a9a;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.msg-container .time {
    font-size: 0.75rem;
    color: #696969;
    margin-left: 2em;
    align-self: flex-start;
}

.client {
    margin-left: 85px;
    background-color: #dcf8c6;
}

.server {
    margin-left: auto;
    margin-right: 85px;
    background-color: #ffffff;
}

.chat-footer {
    background-color: #e5e5e5;
    width: calc(100% - 12px);
    box-sizing: border-box;
    height: 7%;
    bottom: 0;
    position: absolute;
}

.footer-text-area {
    width: 85%;
    display: flex;
}

.footer-text-area .textInput {
    width: 100%;
    height: 2.7rem;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

.emoji .fa-laugh, .microphone .fa-microphone, .paperplane .fa-paper-plane {
    font-size: 24px;
    color: #9a9a9a;
    cursor: pointer;
}

.add-button {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.user-check {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.send-button {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}