<div class="add-menu hidden">
    <div class="add-menu-heading d-flex align-items-end">
        <i class="fas fa-arrow-left arrow-add text-white fa-lg me-5 ms-4"></i>
        <h4 class="text-white">Add a new user
        </h4>
    </div>
    <form action="" method="" id="search-user-form">
        <div class="add-menu-search d-flex">
            <div class="searchBar mx-auto align-items-center">
                <input class="searchInput" type="text" id="searchUsers" autocomplete="off"
                    placeholder="Type username" />
                <button class="searchButton" type="submit" name="">
                    <i class=" fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>