<div class="chat-menu hidden">
    <div class="chat-menu-heading d-flex align-items-end">
        <i class="fas fa-arrow-left arrow-chat text-white fa-lg me-5 ms-4"></i>
        <h4 class="text-white">New chat
        </h4>
    </div>
    <div class="chat-menu-search d-flex">
        <div class="searchBar mx-auto align-items-center">
            <input class="searchInput" type="text" name="searchQueryInput"
                placeholder="Search users from your contacts list" value="" />
            <button class="searchButton" type="submit" name="searchQuerySubmit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
    <div class="chat-menu-add d-flex">
        <div class="chat-menu-icon align-self-center d-flex ms-3">
            <i class="fas fa-user-plus fa-lg text-white align-self-center mx-auto"></i>
        </div>
        <span class="ms-3 my-auto new-group-span">Add user</span>
    </div>
    <div class="chat-menu-group d-flex">
        <div class="chat-menu-icon align-self-center d-flex ms-3">
            <i class="fas fa-users fa-lg text-white align-self-center mx-auto"></i>
        </div>
        <span class="ms-3 my-auto new-group-span">Create new group</span>
    </div>
</div>