<div class="group-menu hidden">
    <div class="group-menu-heading d-flex align-items-end">
        <i class="fas fa-arrow-left arrow-group text-white fa-lg me-5 ms-4"></i>
        <h4 class="text-white">Add users to a group
        </h4>
    </div>
    <div class="group-menu-search my-4 mx-3">
        <input class="form-control-plaintext" type="text" placeholder="Enter username"
            aria-label="default input example">
    </div>
</div>