<div class="starred-menu hidden">
    <div class="starred-menu-heading d-flex align-items-end">
        <i class="fas fa-arrow-left arrow-starred text-white fa-lg me-5 ms-4"></i>
        <h4 class="text-white">Starred messages
        </h4>
    </div>
    <div class="starred-info d-flex justify-content-center"><span
            class="starred-messages-span align-self-center">You don't have any starred
            messages</span></div>
</div>